/*=================================================================
  Dashboard Css
==================================================================*/

@media screen and (min-width: 1440px){

  .__dasepl {
    margin: 5% 0 0 65px;
    width: 870px;
  }

  .__dasepl span:nth-child(1) {
    margin-left: 23%;
  }

}

@media screen and (max-width: 1220px){
  .__dasepl {
    margin: 5% 0 0 72px;
    width: 865px;
  }

  .__dasepl span:nth-child(1) {
    margin-left: 22%;
  }

  .__pa {
    margin: 45px 8px 9px 70px;
    width: 869px;
  }

  .__addag {
    margin: 45px 8px 9px 70px;
    width: 869px;
  }

  .__dasempl {
    margin: 45px 8px 9px 76px;
    width: 865px;
  }

  .bigers {
    width: 58%;
    margin-top: 0%;
    margin-left: 227px;
  }

  .__tabov {
    margin: 5% 0 0 89px;
    width: 866px;
  }

  .__profbtn {
    width: 165px;
  }

  .__prof1btn {
    width: 165px;
  }


}

@media screen and (max-width: 1024px){
  .leftbar {
  padding-top: 10%;
  }

  .__dasepl span:nth-child(1) {
    padding: 14px 29px;
    margin-left: 5%;
  }

  .__dasepl {
    margin: 5% 0px 0px 87px;
    /*width: 805px;*/
    width: 727px;
  }

  .__dasepl1 {
    margin: 45px 8px 9px 92px;
    width: 723px;
  }

  .__dascard {
    width: 100%;
  }

  .__dasempl {
      margin: 45px 0px 9px 91px;
    width: 707px;
  }

  .__pa {
    margin: 45px 8px 9px 89px;
    width: 726px;
  }
  .__addag {
    margin: 45px 8px 9px 89px;
    width: 726px;
  }

  .bigers {
    width: 67%;
    margin-top: 3%;
    margin-left: 139px;
  }

  .__tabov {
    margin: 5% 0 0 82px;
    width: 721px;
  }

  .__trvto {
    padding: 10px 20px 3px;
  }

  .__nav-pills li a {
    padding: 20px 10px 9px;
  }

  .__profbtn {
    font-family: AvenirLTStd-Medium;
    width: 142px;
  }
  .__prof1btn {
    font-family: AvenirLTStd-Medium;
    width: 142px;
  }

  .__upl {
    padding: 40px 66px;
  }


}

@media screen and (max-width: 992px) {
  
  
  .__dasepl {
      margin: 5% 0px 0px 87px;
      width: 712px;
  }

  .__pa {
    margin: 45px 8px 9px 89px;
    width: 709px;
  }
  .__addag {
    margin: 45px 8px 9px 89px;
    width: 709px;
  }

  .__dasepl span:nth-child(1) {
    margin-left: 3%;
  }

}

@media screen and (max-width: 800px){
  .leftbar{
    transform: translate(-300px);
    top: 0%;
  }
  #openSidebar{
    display: block !important;
    cursor: pointer !important;
    margin-top: 17px;
  }
  img#closebtn {
     display: block;
     top: 3%;
    left: 5%;
  }

  .__dast {
    margin-top: 0%;
  }


  .__dasepl {
    margin: 7% 0 0 0;
    width: 100%;
  }

  .__dasepl1 {
    margin: 45px 8px 9px 0;
    width: 100%;
  }

  .__dascard {
    width: 100%;
  }

  .__dashnav{
    z-index: 1;
  }

  .__dasepl span:nth-child(1) {
    padding: 14px 29px;
    margin-left: 24%;
  }

  .__dascard p:nth-child(2) {
    font-size: 14px;
  }

  .__dascard p:nth-child(3) {
    font-size: 20px;
  }

  .__dasempl {
    margin: 45px 8px 9px 0px;
    width: 736px;
  }

  .__pa {
    margin: 45px 8px 9px 0px;
    width: 100%;
  }
  .__addag {
    margin: 45px 8px 9px 0px;
    width: 100%;
  }

  .bigers {
    width: 66%;
    margin-top: 0%;
    margin-left: 148px;
  }

  .__tabov {
    margin: 7% 0 0 0px;
    width: 100%;
  }

  .__trvto {
    padding: 10px 24px 3px;
  }

  .__nav-pills li a {
    padding: 20px 5px 9px;
  }

  .__profbtn {
    width: 140px;
  }

  .__prof1btn {
    width: 140px;
  }

  #picture_preview {
    width: 70px;
    height: 49px;
    transition: all 1s ease-in;
    margin-left: -70px;
  }

  .__picture p {
    margin-left: -69px;
  }


}


@media screen and (max-width: 568px) {

    .__dast{
    margin-top: 10%;
  }

  .__dashnav{
    z-index: 1;
    height: 56px;
  }
  
  .biger{
    width: 80% ;
    transform: translate(0px) !important;
    z-index:1  !important;
    
  }

  .leftbar{
    transform: translate(-1000px);
    top: 0%;
  }
  #openSidebar{
    display: block !important;
    cursor: pointer !important;
  }

  /*for image close*/
  img#closebtn {
     display: block;
     top: 3%;
    left: 5%;
  }

  i#closebtn {
     display: block;
     top: 2%;
    left: 5%;
  }

  #openSidebar {
    margin-top: 2px;
  }

  .maianer {
      padding: 10px 20px;
  }
  .mr-125 { right:125px !important; }


  /*right slider side*/
  .bigers {
    width: 82%;
    margin-top: 0%;
    margin-left: 57px;
  }

  img#rightclosebtns {
    margin-left: 233px;
  }

/*end*/

  .__profimg {
    margin-left: 77px;
  }


  .__dasepl {
    width: 100%;
    margin: 20% 0 10% !important;
  }

  .__dasepl1 {
    margin: 0;
    width: 100%;
  }

  .__dascard {
    width: 100%;
    margin-top: 10px;
  }

  .__dasepl span:nth-child(1) {
    padding: 0;
    margin-left: 0;
  }

  .__dasepl span:nth-child(3) {
    padding: 4px;
  }

  .__dassc {
    margin-bottom: 10px;
  }

  .__logo {
    width: 80px;
    margin-top: 0px;
    margin-left: 0px;
  }

  .navbar-toggle {
    /* border: 2px solid #FFFFFF; */
    color: #ffffff;
    background: #f0842d;
  }

  .__dascard p:nth-child(2) {
    font-size: 10px;
    margin-bottom: 0px;
    padding: 3px 10px;
  }
  .__dascard p:nth-child(3) {
    font-size: 15px;
    margin-bottom: 0px;
    padding: 3px 10px 10px;
  }

  .__pa {
    margin: 45px 8px 9px 0px;
    width: 100%;
  }
  .__addag {
    margin: 45px 8px 9px 0px;
    width: 100%;
  }

  .__pfin {
    padding: 20px 10px;
  }

  .__pfpa {
    padding: 10px 27px;
  }

  .__prof {
    padding: 12px 11px;
  }

  .__setp {
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 20px 9px;
  }

  .__tabov {
    margin: 17% 0 0 0px;
    width: 100%;
  }

  .__trvto {
    padding: 10px 13px 3px;
  }

  .__nav-pills li a {
    padding: 20px 2px 9px;
  }

  .__tab {
    padding: 15px 9px;
  }

  .__upl {
    padding: 25px 15px;
  }

  .__it .btn-new, .__it .btn-next {
    margin: 5px 0px;
    font-size: 16px;
    width: 123px;
  }

  .__accordion {
    padding: 18px 20px;
  }

  .panel {
    padding: 0 18px;
  }

  .__profbtn {
    width: 120px;
  }
  .__prof1btn {
    width: 120px;
  }

  .__proft {
    border-right: none;
  }

  .__prp{
    text-align: center;
  }

  .__prp p:nth-child(1) {
    font-size: 11px;
  }

  .__prp p:nth-child(2) {
    font-size: 11px;
  }

  .__prp p:nth-child(3) {
    font-size: 14px;
  }
  .__prp p:nth-child(4) {
    font-size: 12px;
  }

  .__picture {
    width: 100%;
  }

  #picture_preview {
    width: 60px;
    height: 45px;
    margin-left: 10px;
  }

  .__picture p {
    margin-left: 10px;
  }

  .__picture .__pimg {
    margin-top: 69px;
    margin-left: -36px;
  }




}


/*=================================================================
  Dashboard Css end
==================================================================*/








/*=================================================================
  @media screen 1440px
==================================================================*/


@media screen and (min-width: 1440px){
   
  


}

/*=================================================================
  @media screen 1199px
==================================================================*/


@media screen and (max-width: 1199px){
   
  

}


/*=================================================================
  @media screen 1220px
==================================================================*/


@media screen and (max-width: 1220px){
  
  .__evbg1 {
    padding: 0 0 67px;
  }

  .__evdo {
    padding: 60px 0;
  }



}


/*=================================================================
  @media screen 1024px
==================================================================*/


@media screen and (max-width: 1024px){

  .__evh {
    font-size: 45px;
  }

  .__evdo {
    padding: 60px 0;
  }

  .__evbg1 {
    padding: 0 0 30px;
  }

  .__evdo {
    padding: 60px 0;
  }

  .__entabin {
    width: 500px;
  }
  .__enmodbtn {
    width: 106px;
  }

  .__enar a {
    font-size: 11px;
  }

  .__inass {
    font-size: 24px;
  }

  

}


/*=================================================================
  @media screen 992px
==================================================================*/


@media screen and (max-width: 992px){
  .__msgin {
    margin: 20px 0px 20px 91px;
    width: 693px; 
  }

  .__md7 {
    padding: 10px;
  }
}


/*=================================================================
  @media screen 800px
==================================================================*/

@media screen and (max-width: 800px){

	.__evh {
    font-size: 30px;
    text-align: center;
    margin-top: 23%;
  }

  .__entak{
  text-align: center;
  }

  .__evbtn {
    width: 140px;
    font-size: 14px;
    padding: 9px;
  }
  .__evbtn1 {
    width: 140px;
    font-size: 14px;
    padding: 9px;
  }

  .__evdo {
    padding: 21px 0;
  }


  .__evbg1 {
    padding: 0 0 25px;
  }



  .__entabin {
      width: 360px;
  }

  .__entabin p {
    font-size: 15px;
  }

  .__enrad p:nth-child(1) {
    font-size: 30px;
  }

  .__enrad p:nth-child(2) {
    font-size: 13px;
  }

  .__envbtn {
    width: 310px;
    font-size: 13px;
  }
  .__env1btn {
    width: 310px;
    font-size: 13px;
  }

  .__enbp .__img{
    width: 245px;
  }

  .__enbp img{
    width: 330px;
  }

  .__evpp1 {
    margin-left: 36px;
  }

  .__evpp {
    margin-left: 40px;
  }

  .__inass {
    font-size: 16px;
    padding: 10px 36px 0;
  }

  .__evbg {
    height: 44px;
  }

  




}


/*=================================================================
  @media screen 560px
==================================================================*/


  @media screen and (max-width: 560px){

  .__evnb {
    width: 100%;
    margin: 40px auto;
  }

  .__evh {
    font-size: 20px;
    text-align: center;
  }

  .__entak{
  text-align: center;
  }

  .__evbtn {
    width: 130px;
    font-size: 13px;
    padding: 4px;
  }

  .__evbtn1 {
    width: 130px;
    font-size: 13px;
    padding: 4px;
  }

  .__evbg {
    height: 30px;
  }

  .__evb1 {
    margin-top: 20px;
  }

  .__evb2 {
    font-size: 15px;
    margin-top: 20px;
  }

  .__evpp {
    font-size: 12px;
    text-align: center;
    margin-left: 0px;
  }

  .__evpp1 {
    font-size: 14px;
    text-align: center;
    margin-left: 0px;
  }

  .__evppp {
    font-size: 12px;
    text-align: center;
  }

  .__evppp1 {
    font-size: 14px;
    text-align: center;
  }

  .__evbg1 {
    padding: 0;
  }

  .__evdo {
    padding: 10px;
  }

  .__evpc {
    font-size: 16px;
    padding: 0 0 12px;
  }

  .__evla {
    font-size: 12px;
  }

  .__evsubbtn {
     font-size: 13px;
    width: 125px;
  }

  .__evfoot {
    text-align: center;
  }

  .__evfot {
    font-size: 12px;
  }

  .__enyomodcont {
    width: 100%;
  }

  .__enmodbtn {
    width: 103px;
  }

  .__enar a {
    font-size: 11px;
  }

  .__entabin {
    width: 100%;
    padding: 14px;
  }

  .__qushead p {
    font-size: 15px;
  }

  .__envbtn {
    width: 100%;
  }
  .__env1btn {
    width: 100%;
  }

  .__enap {
    width: 100%;
  }
  .__enap1 {
    width: 100%;
  }

  .__enb {
    width: 100%;
    height: 0px;
    margin-left: 0px;
  }

  .__enbp p {
    font-size: 20px;
  }

  .__enbp img{
    width: 240px;
  }

  .check {
    font-size: 9px;
  }

  .__fop{
    font-size: 11px;
  }

  .__inass {
    font-size: 14px;
  }

}

